/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default styles */
html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-width: var(--min-viewport-width);
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body{
    background-color: var(--color-very-light-gray);
}

main{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--color-very-light-gray);
    max-width: 100%;
    overflow-x: hidden;
}   

.container{
    width: 23.438rem; /* 375px */
    max-width: 100%;
    display: grid;
    place-items: center;         
    grid-template-columns: 1fr;
    gap: 1.875rem;
    padding: 1rem;
}

.title{
    text-align: center;
}

.title h1{
    font-size: var(--font-size-title);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-light);
    font-style: normal;
    letter-spacing: 0.17px;
    line-height: var(--font-lh-title);
    color: var(--color-grayish-blue);
}

.title h2{
    font-size: var(--font-size-title);
}

.card{
    background-color: var(--color-white);
    padding: 1.7rem;
    width: 100%;
    height: 13.875rem; /* 222px */
    border-radius: 0.5rem;
box-shadow: 3px 13px 28px -3px rgba(223,228,242,1);
display: flex;
flex-direction: column;
}

.card p{
    margin-bottom: auto;
}

.icon{
    align-self: flex-end;
}

@media (min-width: 48rem) { /* 768px */
    .container{
        width: 69.375rem; /* 1110px */
        max-width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 32px;
        grid-row-gap: 32px;
        height:46.875rem; /* 530px */
    }


    .card{
        width: 21.875rem; /* 350px */
        height: 15.625rem; /* 250px */
    }

    .card.supervisor{
        grid-area: 3 / 1 / 5 / 2;
    }

    .card.team-builder{
        grid-area: 2 / 2 / 4 / 3;
    }

    .card.karma{
        grid-area: 4 / 2 / 6 / 3;
    }

    .card.calculator{
        grid-area: 3 / 3 / 5 / 4;
    }

    .title{
        grid-area: 1 / 1 / 2 / 4; 
        width: 33.75rem ;
        height: 10.625rem; /* 170px */
    }

    .title h1{
        font-size: var(--font-size-title-desktop);
    }

    .title h2{
        font-size: var(--font-size-title-desktop);
    }
}
